.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    outline: none;
    cursor: pointer;
  }  
  
  .btn:disabled:not(:enabled) {
    border: 1px solid var(--gray-300);
    background-color: var(--gray-300);
    color: var(--white);
    cursor: not-allowed;
  }
     
  .tall {
    padding: 14px 16px;
    height: 56px;
    border-radius: 12px;
    font-size: var(--l);
    font-weight: var(--bold);
    letter-spacing: -0.18px;
  }
  
  .standard {
    padding: 8px 16px;
    min-height: 40px;
    max-height: 42px;
    border-radius: 6px;
    letter-spacing: -0.16px;
  }
  
  .short {
    padding: 6px 16px;
    height: 36px;
    border-radius: 6px;
    font-weight: 500;
  }
  
  .primary {
    width: 100%;
    background-color: var(--purple-600);
    color: var(--white);
  }
  
  .primary:hover {
    background-color: var(--purple-700);
  }
  
  .primary:active {
    background-color: var(--purple-800);
  }
  
  .primary:focus-visible {
    border: 2px solid var(--purple-900);
    background-color: var(--purple-800);
  }
  
  .secondary {
    border: 1px solid var(--purple-600);
    background-color: var(--white);
    color: var(--purple-700);
  }
  
  .secondary:hover {
    border: 1px solid var(--purple-700);
    background-color: var(--purple-100);
    color: var(--purple-600);
  }
  
  .secondary:active {
    border: 1px solid var(--purple-800);
    background-color: var(--purple-100);
    color: var(--purple-600);
  }
  
  .secondary:focus-visible {
    border: 1px solid var(--purple-800);
    background-color: var(--white);
    color: #9747ff;
  }
  
  .outlined {
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    color: var(--gray-900);
  }
  
  .outlined:hover,
  .outlined:active {
    border: 1px solid var(--gray-300);
    background-color: var(--gray-100);
  }
  
  .outlined:focus-visible {
    border: 1px solid var(--gray-500);
    background-color: var(--white);
  }
  
  .remove {
    background-color: var(--error);
    color: var(--white);
  }
  
  .remove:hover {
    background-color: #c32222;
  }
  
  .remove:active {
    background-color: #981b1b;
  }
  
  .remove:focus-visible {
    border: 2px solid #6c1313;
    background-color: #981b1b;
  }
  
  .width120 {
    width: 120px;
  }
  
  .widthAuto {
    width: auto;
  }
  
  .width280 {
    width: 280px;
  }
  
  .delete {
    padding: 6px;
    width: 36px;
    min-height: 36px;
    max-height: 36px;
    border-radius: 6px;
    background: url("../../../asset/img/buttonIcon/deleted.svg") no-repeat center;
  }
  
  .share::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../../asset/img/buttonIcon/share-24.svg") no-repeat
      center/contain;
  }
  
  .add::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../../asset/img/buttonIcon/add-24.svg") no-repeat
      center/contain;
  }
  
  @media (max-width: 1024px) {
    .width280 {
      width: 100%;
      z-index: 10;
    }
  }
  
  @media (max-width: 767px) {
    .short {
      padding: 2px 8px;
      min-height: 28px;
      max-height: 32px;
      letter-spacing: -0.07px;
    }
  
    .short .name {
      display: none;
    }
  
    .share::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
    }
  
    .add::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
    }
  }