.btn {
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
    
  
  
  .check {
    width: 44px;
    height: 44px;
    background: url("./img/check.svg") no-repeat center;
    background-color: var(--gray-500);
  }
  
     