.toggleArea {
    display: flex;
    width: 244px;
    border-radius: 6px;
    background-color: var(--gray-100);
  }
  
  .button {
    flex: 1;
    padding: 7px 16px;
    height: 40px;
    cursor: pointer;
    outline: none;
  }  
     
  .active {
    border-radius: 6px;
    border: 2px solid var(--purple-600);
    background-color: var(--white);
    font-weight: var(--bold);
    color: var(--purple-700);
    letter-spacing: -0.16px;
  }
  
  @media (max-width: 767px) {
    .toggleArea {
      width: 236px;
    }
  }